@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
  --bg-page: #FFF9E6;
  --card-bg: #FFFFFF;
  --primary: #FFD54A;
  --primary-600: #FFCC21;
  --muted-text: #6B7280;
  --text: #111827;
  --pro-blue: #1EA7FF;
  --shadow: rgba(17, 24, 39, 0.06);
  --success: #16A34A;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-page);
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
